@import "fonts";
@import "preflight";
@import "components/buttons";
@import "components/text";
@import "utilities";

html {
  font-size: 16px;

  @screen sm {
    font-size: 17px;
  }

  @screen md {
    font-size: 18px;
  }

  @screen xl {
    font-size: 23px;
  }
}

.container {
  @apply mx-auto px-2;

  @screen md {
    @apply px-4;
  }

  @screen xl {
    @apply px-8;
  }
}
